/* General Page and Container */
.general-page {
    max-width: none;
    color: #666565;
    padding: 0;
}
.contact-content, .general-page {
    max-width: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
     width: 70%;
    }
}

/* Contact Form Styles */
.contact-form {
    max-width: 100%;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-input, .contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-input:focus, .contact-textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Styles */
.btn-primary {
    color: #fff !important;
    background: #d4651f;
}
.btn-primary:hover {
    background: #e79059 !important;
}
.btn {
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 45px;
    line-height: 1em;
    letter-spacing: 1px;
    border: none;
}
.btn:hover {
    transition: .2s;
    color: #333;
    text-decoration: none;
}

/* About Content */
.about-content {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Labels */
.fields_label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Responsive Design */
@media (max-width: 767px) {
    .about-content {
        text-align: center;
        padding-bottom: 20px;
    }

    .contact-form {
        padding: 10px;
    }

    .btn {
        width: 100%;
        padding: 10px;
    }
}
